<%if(success && success.length){ %>
<div class="success">

    <h2><%= success %></h2>
    
</div>

<% } %>
<%if(error && error.length){ %>
<div class="error">

    <h2><%= error %></h2>
    
</div>

<% } %>
