<!-- fontawesome is beign ised for social icons -->
<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    
    <ul class="footer-links" role="navigation" aria-labelledby="footer-links-heading">
        <h3 id="footer-links-heading" class="sr-only">Footer Links</h3>
        <li><a href="#">Site Home</a></li>
        <li><a href="#">Playground</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Contents</a></li>
    </ul>
    <p class="copyright">© All Rights Reserved to AIRBNB</p>
</footer>
