<header>
    <nav class="navbar">
      <div class="logo"><a href="/listings">AIRBNB</a></div>
      <ul class="nav-links">
        <li><a href="/listings">HOME</a></li>
        <li><a href="/listings/newlisting">ADD LISTINGS</a></li>
        <% if(!currentUser){ %>
        <li><a href="/login">LOG IN</a></li>
        <li><a href="/register">SIGN UP</a></li>
        <% } if(currentUser){ %>
        <li><a href="/logout">LOG OUT</a></li>
        <% } %>
      </ul>
      <div class="burger" id="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
  </header>