body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
.navbar {
    display: flex;
    /* width: 100vw; */
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(200, 147, 0);
    z-index: 100;
    /* overflow: hidden; */
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: yellow;
  }
  
  .burger {
    display: none;
    cursor: pointer;
    z-index: 100;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  /* Responsive Media Queries */
  @media screen and (max-width: 768px) {
    .nav-links {
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      background-color: black;
      z-index: 99;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    .nav-links li {
      margin: 20px 0;
    }
  
    .burger {
      display: block;
    }
  
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .toggle .line2 {
      opacity: 0;
    }
  
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  